<!DOCTYPE html>
<html>
    <head>
        <title>Movie Lens</title>
    </head>

    <body>
        <h1>Register with Movie Lens</h1>

        {% if registered %}
        Movie Lens says: <strong>thank you for registering!</strong>
        <a href="/lensview/">Return to the homepage.</a><br />
        {% else %}
        Movie Lens says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/registration/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>
