
{% block content %}
  <h2><u>{{ movie.title }}</u></h2>
    <p>
      <b>Number of ratings:</b> &nbsp;&nbsp; {{ movie.number_ratings }}<br>
      <p></p>
      <b>Average rating:</b> &nbsp;&nbsp; {{ movie.average_rating | floatformat:"2" }}
    </p>

    <h3><u>Ratings</u></h3>

    {% for rating in ratings %}
    <p>
      <b>Stars:</b> &nbsp;&nbsp; {{ rating.stars }} &nbsp;&nbsp;&nbsp;&nbsp; <b>Rater:</b> &nbsp;&nbsp; <a href="{% url 'rater_detail' rating.rater.pk %}">#{{ rating.rater }}</a>
    </p>
  {% endfor %}
{% endblock %}
